.sluit-knop {
    background-color: red;
    float: left;
    width: 30px
}
.sluit-knop:hover {
    background-color: indianred;
   cursor: pointer;
}
.modaal-inhoud {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    position: fixed;
    
}
